body {
    background-color: #fff;
}

.user-one {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    text-align: center;
    font-family: "Noto Sans Sora Sompeng", sans-serif;

}

.user-two {
    background-color: grey;
    text-align: center;
}

.user-three {
    background-color: chocolate;
    text-align: center;
}


.user-four {
    background-color: green;
    text-align: center;
}

.user-five {
    background-color: indianred;
    text-align: center;
}

.last-user {
    background-color: mintcream;
    text-align: center;
}